.input {
  @apply bg-transparent  border-b border-accents-5 px-3 py-2 appearance-none w-full transition duration-150 ease-in-out pr-10;
}
.wrap {
  @apply relative inline-block w-full;
  @screen sm {
    min-width: 120px;
    max-width: 300px;
  }
}
.input:focus {
  @apply outline-none border-primary text-primary;
}

.iconContainer {
  @apply absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none;
}

.icon {
  @apply h-5 w-5;
}
