.root {
  position: relative;
}

.leftControl,
.rightControl {
  @apply absolute text-accents-9 top-1/3 -translate-x-1/2 z-20 text-3xl w-14 h-14  flex items-center justify-center rounded-full;
}

.leftControl:hover,
.rightControl:hover {
  @apply bg-hover-2 transform scale-110;
}

.leftControl:hover,
.rightControl:hover {
  @apply outline-none shadow-outline-normal;
}

.leftControl {
  @apply bg-cover -left-3;
  @screen md {
    @apply -left-4;
  }
}

.rightControl {
  @apply bg-cover -right-3;
  @screen md {
    @apply -right-4;
  }
}

.numberSlide {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;
}

.numberSlide1 {
  background: rgb(64, 175, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 175, 255, 1) 0%,
    rgba(63, 97, 255, 1) 100%
  );
}

.numberSlide2 {
  background: rgb(255, 75, 64);
  background: linear-gradient(
    128deg,
    rgba(255, 154, 63, 1) 0%,
    rgba(255, 75, 64, 1) 100%
  );
}

.numberSlide3 {
  background: rgb(182, 255, 64);
  background: linear-gradient(
    128deg,
    rgba(182, 255, 64, 1) 0%,
    rgba(63, 255, 71, 1) 100%
  );
  background: linear-gradient(
    128deg,
    rgba(189, 255, 83, 1) 0%,
    rgba(43, 250, 82, 1) 100%
  );
}

.numberSlide4 {
  background: rgb(64, 255, 242);
  background: linear-gradient(
    128deg,
    rgba(64, 255, 242, 1) 0%,
    rgba(63, 188, 255, 1) 100%
  );
}

.numberSlide5 {
  background: rgb(255, 64, 156);
  background: linear-gradient(
    128deg,
    rgba(255, 64, 156, 1) 0%,
    rgba(255, 63, 63, 1) 100%
  );
}
.numberSlide6 {
  background: rgb(64, 76, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 76, 255, 1) 0%,
    rgba(174, 63, 255, 1) 100%
  );
}
