.root {
  @apply fixed inset-0 overflow-hidden h-full z-50 pointer-events-none;
  &.open {
    @apply pointer-events-auto;
    & .sidebar {
      animation: sidebaranimationOpen 300ms ease-in-out;
      @apply opacity-100;
    }
    & .overlay {
      @apply absolute inset-0 bg-accents-9 opacity-50 transition-opacity;
    }
  }
}
.overlay {
}
.sidebar {
  animation: sidebaranimationClose 300ms ease-in-out;
  @apply absolute inset-y-0 left-0 opacity-0 max-w-full flex sm:pr-16 outline-none;
}
@keyframes sidebaranimationOpen {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes sidebaranimationClose {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}
