@font-face {
  font-display: swap;
  font-family: 'Prata';
  src: local('Prata'), url(./fonts/Prata.ttf) format('truetype');
}

@tailwind base;
@import './base.css';

@tailwind components;
@import './components.css';

@tailwind utilities;
