@tailwind base;

@tailwind components;
@import './components.css';

@tailwind utilities;

@layer base {
  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    src: local('Poppins'), url(./fonts/Poppins-Light.ttf) format('truetype');
  }
  html,
  body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
  }
  @import './base.css';
}
