.root {
  @apply relative w-full h-screen;
  overflow: hidden;
}

.control {
  @apply opacity-0 transition duration-150;
}

.root:hover .control {
  @apply opacity-100;
}

.positionIndicatorsContainer {
  @apply block absolute bottom-6 left-0 w-full z-10;
}

.positionIndicator {
  @apply rounded-full mr-8;
}

.dot {
  @apply bg-accents-5 transition w-2 h-2 rounded-full;
}

.positionIndicator:hover .dot {
  @apply bg-accents-7;
}

.positionIndicator:focus {
  @apply outline-none;
}

.positionIndicator:focus .dot {
  @apply shadow-outline-normal;
}

.positionIndicatorActive .dot {
  @apply bg-primary;
}

.positionIndicatorActive:hover .dot {
  @apply bg-primary-2;
}
.faderSlide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  @apply pointer-events-none opacity-0 transition-all delay-300 duration-700 ease-in-out lg:text-lg;
  & .subTitle {
    @apply font-semibold mb-lg max-w-xs transition-all duration-300 ease-in-out;
    line-height: 1.41;
    transform: translateX(5rem);
    transition: all 0.3s linear 0.3s;
    font-size: 0.8em;
  }
  & .title {
    @apply max-w-sm lg:max-w-xl xl:max-w-2xl transition-all duration-700 ease-in-out;
    line-height: 1.1;
    transform: translateX(5rem);
    font-size: 5em;
  }
  & .buttonText {
    @apply transition-all duration-1000 ease-in-out;
    font-size: 0.8em;
    transform: translateX(5rem);
  }
}
.faderSlide.current {
  @apply pointer-events-auto opacity-100;
  & .subTitle {
    transform: translateX(0);
  }
  & .title {
    transform: translateX(0);
  }
  & .buttonText {
    transform: translateX(0);
  }
}
